* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: red;
    height: 100px;
}
.continut {
    display: flex;
}
.lista{
    background-color: yellow;
    list-style-type: none;
    min-width: 150px;
}

.lista ul{
    list-style-type: none;
}

.lista li {
    border-bottom: 2px solid black;
}

.main {
    background: green;
    min-height: calc(100vh - 200px);
}
footer {
    background: pink;
    height: 100px;
}
